<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284193916384-si5ouue5kibsvmt97a5set10jh8j7180.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284193916384-si5ouue5kibsvmt97a5set10jh8j7180</string>
	<key>API_KEY</key>
	<string>AIzaSyARtPXXf9ax-YlL2ZFRf__SDiQeHaW3ReM</string>
	<key>GCM_SENDER_ID</key>
	<string>284193916384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pomodoroTimer</string>
	<key>PROJECT_ID</key>
	<string>pomodoro-7fe6b</string>
	<key>STORAGE_BUCKET</key>
	<string>pomodoro-7fe6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284193916384:ios:4b88749a8bacec8f761785</string>
</dict>
</plist>